* {
  padding: 0;
  margin: 0;
  transition: width 100s;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* align-items: center; */
}

.info {
  width: 25%;
}

.info form #hand {
  display: none;
}

.info form #players-info {
  flex-direction: column;
  display: none;
}

.info form #players-info input {
  width: 33%;
}

.game {
  width: 50%;
}

.game table {
  width: 100%;
  height: 80vh;
}

.game table tbody tr td {
  justify-content: center;
  text-align: center;
  font-size: 100px;
}

.game button {
  display: none;
}

/* score */

.score {
  width: 25%;
  height: 100px;
}

.score form {
  justify-content: center;
  height: 100px;
  display: none;
}

.score form div {
  display: flex;
  flex-direction: column;
  height: 100px;
}
.score form div label {
  line-height: 50px;
  text-align: center;
}
.score form div input {
  line-height: 70px;
  text-align: center;
}
.score .single-score {
  border: 1px solid black;
}
